// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Body
$body-bg: #ffffff;

$gradient: #004e92;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #004e92;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #1f7a7a;
$light-green: #ccffcc;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$white: #ffffff;

$colorFont: #262626;
$colorPrimary: #004e92;
$colorSecondary: #e6e6e6;
$colorSuccess: #28a745;
$colorDanger: #dc3545;
$colorWarning: #ffc107;
$colorInfo: #17a2b8;
$colorLight: #f8f9fa;
$colorDark: #343a40;

$theme-colors: (
        primary: $colorPrimary,
        secondary: $colorSecondary,
        success: $colorSuccess,
        danger: $colorDanger,
        warning: $colorWarning,
        info: $colorInfo,
        light: $colorLight,
        dark: $colorDark,
);

$grid-breakpoints: (
        xs: 0,
        smm: 375px,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px
);

$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1140px
);

$rem-baseline: 16px;

$font-sizes: (36, 24, 20, 16, 14, 12);
